@import './variables';
@import './mixins';

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
    color:$main-color;
    background-color: $white;
}

h1,h2,h3,h4,h5,h6 {
    margin-top:0;
}