<h2>Erfahrung</h2>

<div class="experience-wrapper">
    <div class="experience" *ngFor="let experience of experiences">
        <div class="time">
            <h3 [innerText]="experience.period"></h3>
            <h4 [innerText]="experience.company"></h4>
        </div>
        <div class="line">
            <div class="innerline">
                <div class="dot"></div>
            </div>
        </div>
        <div class="text">
            <h3 [innerText]="experience.title"></h3>
            <ul>
                <li *ngFor="let text of experience.points" [innerText]="text"></li>
            </ul>
        </div>
    </div>
</div>