@import "../../../sass/variables";
@import "../../../sass/_mixins";

h2 {
    text-align: center;
}

.experience {
    display: flex;

    h3 {
        margin-top: 0;
    }

    h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        opacity: 0.7;
    }


    .time {
        flex-basis: 45%;
        text-align: right;
    }

    .line {
        flex-basis:10%;
        position: relative;

        .innerline {
            margin: 0 auto;
            width: 1px;
            height: 100%;
            background-color: $main-color-50;
            position: relative;
            .dot {
                width: 20px;
                height: 20px;
                position: absolute;
                top:0;
                left: -10px;
                border-radius: 50%;
                background-color: $accent-color;
            }
        }
    }

    .text {
        flex-basis: 45%;
        text-align: left;
    }
}

@include tablet {
    .experience {
        flex-direction: column;
        position: relative;
        padding-left: 2rem;

        .time, .text {
            text-align: left;
        }

        .line {
            position: absolute;
            left: 0;
            height: 100%;
        }
    }
}