<div class="nav-wrap" #nav>
    <div class="nav-flex-wrap">
        <nav>
            <img src="" width="120" height="60" />
            <button id="toggle-menu-button" (click)="toggleMenu()">Menu</button>
            <ul #menu>
                <li>
                    <a href="#aboutme">Über mich</a>
                </li>
                <li>
                    <a href="#services">Services</a>
                </li>
                <li>
                    <a href="#experience">Erfahrung</a>
                </li>
                <li>
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="#blog">Blog</a>
                </li>
                <li>
                    <a href="#kontakt">Kontakt</a>
                </li>
            </ul>
        </nav>
    </div>
</div>