<div class="nav-wrap" #nav>
    <div class="nav-flex-wrap">
        <nav>
            <a href="#home">
                <img class="scrolled-image" src="assets/dennis_lange_softwaredevelopment_logo.png" width="auto" height="48" />
                <img class="unscrolled-image" src="assets/dennis_lange_softwaredevelopment_logo_light.png" width="auto" height="48" />
            </a>
            <img #toggleMenuButton id="toggle-menu-button" (click)="toggleMenu()" src="assets/icons/menu_black_24dp.svg" />
            <img #toggleMenuButtonOpen id="toggle-menu-button-open" style="display:none" (click)="toggleMenu()" src="assets/icons/menu_open_black_24dp.svg" />
            <ul #menu>
                <li>
                    <a (click)="hideMenu()" href="#aboutme">Über mich</a>
                </li>
                <li>
                    <a (click)="hideMenu()" href="#services">Services</a>
                </li>
                <li>
                    <a (click)="hideMenu()" href="#experience">Erfahrung</a>
                </li>
                <li>
                    <a (click)="hideMenu()" href="#contact">Kontakt</a>
                </li>
            </ul>
        </nav>
    </div>
</div>