.nav-wrap {
    position: fixed;
    z-index: 3;
    width: 100%;

    .nav-flex-wrap {
        max-width: 960px;
        margin: 0 auto;

        nav {
            z-index: 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;

            #toggle-menu-button {
                display: none;
            }

            ul {
                display: flex;
                justify-content: center;
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    padding: 2rem;

                    a {
                        color: white;
                        display: block;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &.scrolled {
        width: 100%;
        position: fixed;
        background: white;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);

        .nav-flex-wrap {
            nav {
                ul {
                    li {
                        a {
                            color: gray;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .nav-wrap {
        padding: 0 2rem;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
        background: white;

        .nav-flex-wrap {
            nav {
                justify-content: space-between;
                flex-wrap: wrap;
                background: white;

                ul {
                    width: 100%;
                    display: none;
                    flex-direction: column;

                    li {
                        padding: 1rem;

                        a {
                            padding: 1rem;
                            border-bottom: 1px solid;
                            color: gray;
                        }
                    }
                }

                .visible {
                    display: block !important;
                }

                #toggle-menu-button {
                    display: block;
                }
            }
        }
    }
}