@import "../../../sass/_mixins";

:host {
    display: flex;
    align-content: space-between;
    gap: 2rem;
    flex-direction: row;
}

h2 {
    margin-bottom:2rem;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

@include tablet {
    :host {
        flex-direction: column;
    }
}

@include mobile-l {
    img {
        width: 100%;
        height: auto;
    }
}

a {
    @include button;
    text-decoration: none;

    & + a {
        background-color: $main-color;
    }
}