<img width="425" height="425" src="assets/dennis-lange.png" />
<article>
    <h1>Hi, ich bin Dennis</h1>
    <h2>Softwareentwickler aus Paderborn</h2>
    <p>Mein Name ist Dennis Lange. Ich bin <span [innerText]="yearsOnEarth"></span> Jahre alt und komme aus Ostwestfalen-Lippe. 2014 habe ich eine Ausbildung
        als Fachinformatiker in Anwendungsentwicklung angefangen und diese 2017 beendet. Seitdem bin ich sowohl im
        Frontend als auch im Backend als Softwareentwickler tätig.</p>
    <div class="button-wrapper">
        <a href="#experience">Erfahrung</a>
        <a href="#contact">Kontakt</a>
    </div>
</article>