:host {
    display: flex;
    align-content: space-between;
    gap: 1rem;
    flex-direction: row;
}

h2 {
    margin-bottom:2rem;
}

@media screen and (max-width: 760px){
    :host {
        flex-direction: column;
    }
}