@import "../../../sass/_mixins";

:host {
    display: flex;
    align-content: space-between;
    gap: 1rem;
    flex-direction: row;
}

h2 {
    margin-bottom:2rem;
}

@include tablet {
    :host {
        flex-direction: column;
    }
}

@include mobile-l {
    img {
        width: 100%;
        height: auto;
    }
}