<section>
    <div class="outer-flex">
        <img width="300" height="300"/>
        <article>
            <h2>Moin!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae in quidem natus excepturi error odit ratione ut maxime magni repellendus suscipit, repellat, nisi consequatur omnis, quaerat autem minima accusantium temporibus.</p>
            <div class="button-wrapper">
                <button>Button1</button>
                <button>Button2</button>
            </div>
        </article>
    </div>
</section>