<section>
    <section></section>
    <div id="particles-js"></div>
    <div class="width-limitizer">
        <h2>Impressum</h2>
        <div>
            <h3>Angaben gem&auml;&szlig; &sect; 5 TMG</h3>
            <p>Dennis Lange<br />
                Arngaststr. 2<br />
                23682 Wilhelmshaven
            </p>

            <h3>Kontakt</h3>
            <p>Telefon: +4916093507143<br />
                E-Mail:mailto.dennis.lange&#64;gmail.com
            </p>
            <!--
            <h3>Umsatzsteuer-ID</h3>
            <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
                Kommt noch eines Tages - Aktuell kein eingetragenes Gewerbe / Freiberuflichkeit vorhanden
            </p>
            -->
        </div>
    </div>
</section>