div {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

app-service {
    flex-basis: 30%;
}

@media screen and (max-width: 760px){
    app-service {
        flex-basis: 48%;
    }
}

@media screen and (max-width: 520px){
    app-service {
        flex-basis: 100%;
    }
}