<header>
    <app-navigation></app-navigation>
</header>
<main>
    <section class="full-size">
        <app-header></app-header>
    </section>
    <section>
        <app-aboutme></app-aboutme>
    </section>
    <section>
        <app-services></app-services>
    </section>
    <section>
        <app-experience></app-experience>
    </section>
    <section>
        <app-portfolio></app-portfolio>
    </section>
    <section>
        <app-blog></app-blog>
    </section>
</main>
<footer>
    <section>
        <app-contact></app-contact>
    </section> 
</footer>