<header>
    <app-navigation></app-navigation>
</header>
<main>
    <section class="full-size" id="home">
        <app-header></app-header>
    </section>
    <section id="aboutme">
        <app-aboutme></app-aboutme>
    </section>
    <section id="services">
        <app-services></app-services>
    </section>
    <section id="experience">
        <app-experience></app-experience>
    </section>
    <section id="portfolio">
        <app-portfolio></app-portfolio>
    </section>
    <section id="blog">
        <app-blog></app-blog>
    </section>
</main>
<footer>
    <section id="contact">
        <app-contact></app-contact>
    </section> 
</footer>