<header>
    <app-navigation></app-navigation>
</header>
<main>
    <section class="full-size" id="home">
        <app-header></app-header>
    </section>
    <section id="aboutme">
        <div class="width-limitizer">
            <app-aboutme></app-aboutme>
        </div>
    </section>
    <section id="services">
        <div class="width-limitizer">
            <app-services></app-services>
        </div>
    </section>
    <section id="experience">
        <div class="width-limitizer">
            <app-experience></app-experience>
        </div>
    </section>
    <!--
    <section id="portfolio">
        <div class="width-limitizer">
            <app-portfolio></app-portfolio>
        </div>
    </section>
    <section id="blog">
        <div class="width-limitizer">
            <app-blog></app-blog>
        </div>
    </section>
    -->
</main>
<footer>
    <section id="contact">
        <div class="width-limitizer">
            <app-contact></app-contact>
        </div>
    </section> 
</footer>