section {
    padding: 5rem 0;

    &.full-size {
        padding: 0;
        max-width: 100%;
        margin: auto;
    }
}

footer {
    background: #232132;
    color: #fdfdfd;
    padding: 5rem 0;
}

.width-limitizer {
    max-width: 960px;
    margin: 0 auto;
}


#services {
    background:rgba(39, 53, 133,50%);
}

@media screen and (max-width: 960px) {
    section {
        padding: 2rem;
    }
}
